__pycache__
*.py[cod]
*.so

*.egg-info
dist

build
docs/build

*.backup
*.back
*.orig
*.org

*backup/
*test/
*bug/
*box/
his
examples/mp-149
auto_kappa.egg-info

do.sh
ak-logger
ak-plotter
/tools/
memo.txt
copy_all_files.sh

